.client-main{
    /* border: 2px solid coral; */
    margin-bottom: 50px;
}
.client-heading{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    margin: 10px;
    padding: 10px;
}

.client-heading p{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
.client-images{
    /* border: 2px solid aqua; */
    padding: 27px;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-around;
}
.client-images img{
    /* border: 2px solid red; */
    width: 20vw;
    height:auto;
    margin: 0px 33px 0px 48px;
    padding: 8px 20px 10px 34px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
@media screen and (max-width: 500px){
    .client-heading p{
        font-size:0.8rem;
    }
    .client-images img{
        /* border: 2px solid red; */
        padding: 4px;
        height: auto;
        width: 18vw;
        margin: 0;
        justify-content: space-evenly;
        border-radius:0;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
    }
    .client-main{
        /* border: 2px solid coral; */
        margin-bottom: 30px;
    }
}