.home-video{
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
}
video{
    width: 100% !important;
    height: auto !important;
}
.container{
    position:absolute;
    width: 100%;
    height: 100%;
    top:5%;
    left:2%;
    right:25% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
 .logo{
    display:flex;
    position: relative; 
    
} 
.icon-nicozn{ 
    height: vh;
    width: 5vw;
    margin: 15px;
}

.home-btn-div{

}
.home-btn{
    padding: 0.8rem;
    width: 10rem;
    border-radius: 15px;
    text-transform: uppercase;
}

.home-btn:hover{
    border: none;
    background-color: #0D1B1E;
    color: whitesmoke;
}