video{
    width: 100% !important;
    height: auto !important;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
}
.container{
    margin: 15vw 6vw 3vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon-nicozn{ 
    height: vh;
    width: 5vw;
    margin: 15px;
}

.home-btn{
    padding: 1vw;
    width: auto;
    border-radius: 15px;
    text-transform: uppercase;
}

.home-btn:hover{
    border: none;
    background-color: #0D1B1E;
    color: whitesmoke;
}

.logo img{
    /* border: 2px solid red; */
}
.logo img:nth-child(1){
    height: 20vh;
    width: 10vw;
}
.logo img:nth-child(2){
    width: 22vw;
}

@media screen and (max-width:600px){
    .container{
        top:0;
        left: 0;
        right: 0;
    }
    .home-btn{
        padding: 1.3vw;
        width: auto;
    }
    
    .logo img:nth-child(1){
        height: 5vh;
        width: 10vw;
    }
    .logo img:nth-child(2){
        width: 25vw;
    }

    .container{
        margin: 7vw 6vw 3vw 2vw;
    }
}