.portfolio-mockup-image{
    /* background-color: red; */
    border: whitesmoke;
    width: 100%;
    display: inline-block;
}

.portfolio-heading{
    /* display: flex;
    justify-content: center; */
}

.portfolio-projects{
    height: auto;
    /* background-color: rgb(36, 80, 40); */
    /* border:  red; */
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.portfolio-mobile{

}

.portfolio-mockup{
    width: 15vw;
    height: auto;
}

/* .potfolio-group{
    
} */